html {
    font-size: calc(11px + (16 - 11) * ((100vw - 1025px) / (1920 - 1025)));
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  * img {
    max-width: 100%;  
  }
  body {
    background-color: #fffffe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  }