@import url('./reset.css');
@import url('./variables.css');


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.info__title {
  font-weight: 300;
}
.info__text {
  background-color: var(--bg-color-info-text);
  font-weight: 200;
  margin-top: 20px;
  font-size: 20px;
}
.form {
  box-shadow: 0 0 1rem 0.125rem rgba(0 0 0/.1);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 30px 0;
}
.form__text {
  margin-top: 1rem;
}
.content {
  margin-top: 1rem;
}
.content__title {  
  font-weight: 300;
  margin-bottom: 2rem;
}
.content__result {
  box-shadow: 0 0 1rem 0.125rem rgba(0 0 0/.1);
  padding: 2rem 1rem 2.5rem 1rem;
  border-radius: 5px;
  margin: 30px 0;
  font-size: 30px;
}
.morphology__parse {
  display: block;
  margin-top: 20px;
}
.part {
  display: block;
  font-size: 25px;
}
.error {
  color: var(--error-text);
}
.red {
  color: var(--text-red);
}
.prefix {
  background-image: url('../images/prefix.svg');
}
.stamm {
  background-image: url('../images/stamm.svg');
}
.wurzel {
  background-image: url('../images/wurzel.svg');
}
.suffix {
  background-image: url('../images/suffix.svg');
}
.endung {
  background-image: url('../images/endung.svg');
}
.postfix {
  background-image: url('../images/postfix.svg');
}